body {
    background-color: #3f4149;
}

/* carousel fullscreen */



.carousel {
    position: relative;
    width: 100%;
    margin: auto;
}

h1 {
    color: aliceblue;
    font-family:'Saira Condensed';
    font-size: 4vw;
} 
h2 {
    color: aliceblue;
    font-family:'Saira Condensed';
    font-size: 2vw;
} 